<header>
</header>
<div class="jumbotron text-center">
    <h1>Home Page</h1>
    <p>{{ message }}</p>
    <div ui-view="contentHome"></div>
</div>

<div class="modal fade" id="sairAppModal" tabindex="-1" role="dialog" aria-labelledby="sairAppModalLabel" aria-hidden="true">
    <div class="modal-dialog smallSize" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sairAppModalLabel">Confirmação de saída</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Clique em "Sair" para finalizar a sessão atual.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <a class="btn btn-danger" ui-sref="login">Sair</a>
            </div>
        </div>
    </div>
</div>